body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
  }
  
  header {

        width: 100%;
        background-color:rgb(253, 217, 244);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
  
  header h1 {
    margin: 0;
    font-size: 40px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }

  nav a {
    text-shadow: black;
    text-decoration: none;
    font-size: 18px;
  }

  form{
    margin: 0 auto;
    width: 400px;
    background-color:rgb(253, 217, 244);
    display: flex;
    align-items: center;
    height: 20px;
    margin: 200px auto;
    
  }
footer {
  background-color:rgb(253, 217, 244);
  color: #111111;
  padding: 20px;
  text-align: center;
  
}