
html,body{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(178, 178, 223, 0.747);
}


@font-face {
    font-family:'staykids';
    src: url(Stay\ Kids.ttf);
}

i{
    position: absolute;
    font-family:'staykids';
    /* color: rgba(19, 63, 18, 0.856); */
    left: 3%;
    top: 3%;
}



#t2{
position: absolute;
left: 88%;
top: 41%;
background-color: rgb(178, 178, 223);

}

#t3{
    position: absolute;
    left: 88%;
    top: 50%;
    background-color: rgb(178, 178, 223);

}

#t4{
    position: absolute;
    left: 88%;
    top: 59%;
    background-color: rgb(178, 178, 223);
}

summary{
    position: absolute;
    left: 84%;
    top:30%;
    background-color: rgb(178, 178, 223);
    border-radius: 15%;
    border-color: rgb(178, 178, 223);
    opacity: 0.9;
    font-size: 2rem;
    font-family:'staykids';
}

fieldset{
    position: absolute;
    left: 24%;
    border-width: 5px;
    width: 600px;
    height: 510px;
    border-color:rgb(178, 178, 223);
    border-radius: 5px;
}

textarea{
    position: absolute;
    border-top: none;
    top: 7%;
    opacity: 1.0;
    font-family: 'staykids';
    font-size:2rem;
    width: 450px;
    height: 450px;
    left: 80px;
    opacity: 0.2;
}

button{
    position: absolute;
    top: 90%;
    width: 60px;
    height: 40px;
    left: 335px;
    box-shadow: 0 0 5px rgb(178, 178, 223), 
    0 0 25px rgb(178, 178, 223),
    0 0 50px rgb(178, 178, 223),
    0 0 100px rgb(178, 178, 223);
    background-color: rgb(178, 178, 223);
    border-radius: 35%;
    font-size: 25px;
    cursor:pointer;
}

#salvar{
    position: absolute;
    background-color: rgb(178, 178, 223);
    top: 90%;
    width: 60px;
    height: 40px;
    left: 850px;
    border-radius: 35%;
    font-size: 25px;
    font-family:'staykids';
    box-shadow: 0 0 5px rgb(178, 178, 223), 
    0 0 25px rgb(178, 178, 223),
    0 0 50px rgb(178, 178, 223),
    0 0 100px rgb(178, 178, 223);
    background-color: rgb(178, 178, 223);
    cursor: pointer;

}

#foto1{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 74%;
    opacity: 1.8;
}

#foto2{
    position: absolute;
    width: 100px;
    height: 120px;
    top: -40px;
    left: 400px;
    opacity: 1.8;
}

#foto3{
    position: absolute;
    width: 150px;
    height: 159px;
    top: 58%;
    left: 30%;
    opacity: 1.8;
}

#foto4{
    position: absolute;
    width: 120px;
    height: 120px;
    top: 62%;
    left: 56%;
    opacity: 1.8;
}

#foto5{
    position: absolute;
    width: 350px;
    height: 370px;
    top: 7rem;
    left: -20px;
    border-radius: 35%;
    opacity: 1.8;
    
}

#foto6{
    position: absolute;
    width: 410px;
    height: 410px;
    top: 15%;
    left: 66%;
    opacity: 1.8;
}
#foto7{
    position: absolute;
    width: 150px;
    height: 190px;
    top: 70%;
    left: 1100px;
    opacity: 1.8;
}


#capa{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    color: rgb(178, 178, 223);
}


