body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    backdrop-filter: blur(20px);
    background-color: #ffffff;
  }
  .imagem {
    float: left;
    margin-right: 10px; /* adicione uma margem à direita para separar a imagem do texto */
  }
  
  
  h1,
  h2 {
    font-weight: bold;
    text-align: center;
  }
  
  h4 {
    text-align: left;
  }
  
  /* Estilos do cabeçalho */
  
  header {
    background-image: linear-gradient(to right, #180f00, #867d47);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Estilos do conteúdo principal */
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  article {
    margin-bottom: 40px;
  }
  
  article h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  article p {
    line-height: 1.5;
  }
  
  .figure-direita {
    margin: 20px 0;
    text-align: center;
  
  }
  
  .teste {
    height: 230px;
  }
  
  .divarredondado {
    border: 1px solid black;
    border-radius: 10px;
    width: 800px;
    height: 800px;
  }
  
  .figure-centro {
    margin: 20px 0;
    text-align: center;
  
  }
  
  figcaption {
    font-size: 0.8em;
    color: #312d2d;
  }
  
  /* Estilos do rodapé */
  
  footer {
    background-color: #463800;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    /* position: absolute;
      bottom:  100px;
    } */