body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header, nav, main, footer {
	display: block;
}

header {
	background-image: linear-gradient(to right, #530000, #ff0000);
	color: #fff;
	padding: 10px;
}

h1 {
	margin: 0;
}

nav {
	background-color: #ccc;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 10px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

nav ul li a:hover {
	color: #fff;
	background-color: #333;
}

main {
	margin: 10px;
}

section {
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}