html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#23014b, #8835a8);
  }

  h1{
    color: #fff;
    font-size: 25px;
    font-family: 'Oxanium', cursive;
    justify-content: center;
    align-items: center;
  }
  
h2{
  font-family: 'Oxanium', cursive;
  font-size: 20px;
}

fieldset{
  border: 1px solid #ccc; /* borda com cor cinza */
  border-radius: 5px; /* borda com cantos arredondados */
  padding: 7px; /* espaçamento interno */
  width: 800px; /* define a largura para 300 pixels */
  height: 80px; /* define a altura para 200 pixels */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Define a altura da div do container para ocupar toda a altura da tela */
}

label{
  font-family: 'Oxanium', cursive;
}

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 350px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(108, 21, 134, 0.452);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #f79400da;
    text-align: center;                                               
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #f79400da;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #c47601e5;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #f79400da;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 80px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #f79400da;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffb412,
                0 0 25px #ffc219,
                0 0 50px #fab115,
                0 0 100px #f79400da;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f79400da);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f79400da);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f79400da);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f79400da);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  @media screen and (max-width: 1080px) {
    h1{
      font-size: 15px;
    }
    fieldset{
      border: 1px solid #ccc; /* borda com cor cinza */
      border-radius: 5px; /* borda com cantos arredondados */
      padding: 7px; /* espaçamento interno */
      width: 300px; /* define a largura para 300 pixels */
      height: 60px; /* define a altura para 200 pixels */
      
    }
  }
  