@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-branca: #f2f2f2;
    --cor-brancaescura: #D9D9D9;
    --cor-preta: #000000;
    --cor-roxa: #5900ff;
    --cor-azul: #0941FF;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background-color: var(--cor-branca);
}

.contatos {
    max-width: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1em;
    gap: 1em;
    margin-top: 2em;
}

#iconContato {
    transition: .2s ease-in-out;
    color: #151515;
}

#iconContato:hover {
    color: var(--cor-azul);
    cursor: pointer;
}



.bloco1 {
    margin: 1em auto;
    max-width: 1000px;
    text-align: center;
    font-size: 16pt;
    padding: 7em 0em;
}


#nome {
    font-size: 3em;
    margin-bottom: 0px;
    font-weight: 200;
}

#habilidades {
    font-size: 1em;
    margin-top: 0px;
}

#botaoConhecer {
    font-size: max(1em, 1pt);
    background-image: linear-gradient(to right, var(--cor-roxa), var(--cor-azul));
    color: var(--cor-branca);
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    transition: .2s ease-in-out;
}

#botaoConhecer:hover,
#botaoConhecerProjeto:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, var(--cor-preta), var(--cor-preta));
    border: none;
}

div.sobre {
    background-color: var(--cor-preta);
}

div.conteudoSobre {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    text-align: start;
    font-size: 20pt;
    color: var(--cor-branca);
    padding: 5em .6em;
}

#sobreMim,
#ferramentas {
    max-width: 700px;
    margin: 0 auto;
    text-align: start;
}

#skills,
#ferramentas {
    margin-left: 4em;
}

#tituloProjetos {
    text-align: center;
    color: var(--cor-preta);
    font-size: 3em;
}


img {
    width: max(15%, 170px);
    margin: auto;
    margin-bottom: 1em;
}

div.projetos {
    background-color: var(--cor-branca);
}

#blocoProjeto {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

#trabalhos {
    border-radius: 10px;
    border: var(--cor-branca) 1px solid;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#nomeProjeto {
    color: var(--cor-branca);
    font-size: 25pt;
}

#descProjeto {
    font-size: 20pt;
    color: var(--cor-branca);
    margin-top: -20px;
}

#conteudoProjeto {
    padding: 10px;
    width: 80%;
}

.bloco {
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    transition: .3s;
}

.bloco:hover {
    cursor: pointer;
}


.projetosBlocos {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

#botaoConhecerProjeto {
    font-size: max(1em, 1pt);
    background-image: linear-gradient(to right, var(--cor-roxa), var(--cor-azul));
    color: var(--cor-branca);
    top: 330px;
    padding: .8em 5em;
    border-radius: 5px;
    position: absolute;
    display: block;
    margin-left: 35px;
    border: none;
    transition: .2s ease-in-out;
}

#botaoConhecerProjeto:hover {
    background-image: linear-gradient(to right, var(--cor-branca), var(--cor-branca));
    color: #000000;
}

#capaProjeto {
    position: absolute;
    width: 100%;
    margin-left: -150px;
    margin-top: -80px;
}

#descricao {
    position: absolute;
    top: 250px;
}
